:root {
  --brand-color: #2e2f42;
  --brand-color2: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --grey: #f4f4fd;
}
.body {
  color: var(--brand-color2);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.logo-header {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-header-st {
  color: var(--brand-color);
}
.address {
  font-style: normal;
}
.contact {
  color: var(--brand-color2);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
button:hover,
button:focus {
  cursor: pointer;
}
.first-section {
  background-color: var(--brand-color);
}
.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button {
  color: var(--logo-color);
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-order {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}

.button:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.section-title {
  color: var(--brand-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team {
  background-color: #f4f4fd;
}
.employees {
  background-color: #ffffff;
  color: var(--brand-color);
}
.title {
  color: var(--brand-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.job-name {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.img-description {
  color: var(--brand-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.category {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--brand-color);
}
.logo-footer {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer-st {
  color: var(--grey);
}
.footer-text {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1158px;
  padding: 15px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 2px solid var(--brand-color2);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation > .list {
  display: flex;
}
.address > .list {
  display: flex;
}
.navigation .link {
  padding-left: 40px;
}
.address .link {
  padding-left: 40px;
}

.first-section > .container {
  box-sizing: content-box;
  padding-top: 188px;
  padding-bottom: 188px;
  justify-content: center;
}
.button-order {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.second-container > .section-title {
  display: none;
}
.second-container > .list {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 24px;
}
.third-container > .list {
  display: flex;
  margin-top: 72px;
  margin-bottom: 240px;
}
.third-container li {
  margin: 24px;
}
.our-team .list {
  display: flex;
  margin-top: 72px;
  margin-bottom: 120px;
}
.employees {
  margin: 24px;
  border: 0.5px solid var(--brand-color2);
}

.footer {
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-portfolio > h1 {
  display: none;
}
.container-portfolio .list {
  display: flex;
}
.buttons {
  margin-top: 98px;
  margin-bottom: 72px;
  justify-content: center;
}
.buttons > li {
  display: block;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  margin: 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
}
.img-list {
  flex-wrap: wrap;
  justify-content: space-around;
  display: block;
}
.img-list > li {
  margin-bottom: 46px;
  border: 0.5px solid var(--brand-color);
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
